<p id="statusText">Loading...</p>
    <p><font color="red">@ViewBag.Error</font></p>
    <div id="Player">
        
        <button onclick="playClip()">Play</button>
        <button onclick="pauseClip()">Pause</button>
        <button onclick="restartClip()">Restart</button>
          
            <p>
            <input type = "radio" name = "flags" id = "CutOff" onclick="updateField()" value = "CutOff"/>Cut Off<br />
            <input type = "radio" name = "flags" id = "NoLyrics" onclick="updateField()" value = "NoLyrics"/>No Lyrics<br />
            <input type = "radio" name = "flags" id = "Lyrics" onclick="updateField()" value = "Lyrics" checked = "checked"/>Input Lyrics:<br />
            <input type=  "text"  name=  "entry" id = "entry" />  <input type= "text"  name= "enemyInput" id = "enemyInput" disabled= "true" style="font-style:italic;" />

            <input type = "hidden" name = "musicID" id ="musicID" value = "@ViewBag.MusicID" />
            <input type = "hidden" name = "segmentID" id ="segmentID" value = "@ViewBag.SegmentID" />
            <input type = "hidden" name = "startTime" id="startTime" value = "@ViewBag.StartTime"/>
            </p>
            <input type="submit" onclick= "Submit()" value="Submit" />

   </div> 
    <script>
        $(document).ready(function () {
            $(entry).focus();
        });



        function updateField() {
            if (document.getElementById('Lyrics').checked) {
                document.getElementById('entry').disabled = false;
            }
            else {
                document.getElementById('entry').value = "";
                document.getElementById('entry').disabled = true;
            }
        }

        var audio = document.createElement("audio");
        if (!(audio.canPlayType && audio.canPlayType('audio/mpeg;').replace(/no/, ''))) {
            document.getElementById("statusText").innerHTML = "HTML5 .mp3 playback not supported in your browser";
            document.getElementById("Player").style.visibility = 'hidden';
        }
        else {

            audio.src = "@Url.Content(@ViewBag.Path)";
            audio.addEventListener("canplay", function () {
                audio.currentTime = '@ViewBag.Start';
                audio.play();
                document.getElementById("statusText").innerHTML = "";
                document.getElementById("enemyInput").value = "Opponent Typing..";

                var time = '@ViewBag.Time'
                var interval = time * 1000;

                var timer = setTimeout(
                    function () {
                        document.getElementById("enemyInput").value = "Opponent Submitted!";
                    },
                    interval
                );

            }
            );
            audio.addEventListener("timeupdate", function () {
                if (audio.currentTime > '@ViewBag.End') {
                    audio.currentTime = '@ViewBag.Start';
                    audio.pause();
                }
            });
        }
        function playClip() { audio.play(); }
        function pauseClip() { audio.pause(); }
        function restartClip() { audio.currentTime = '@ViewBag.Start'; audio.play(); }
        


    </script>