@model IEnumerable<LyricsGame.Models.LyricSegment>
<script type="text/javascript">
    var please;
    var id = '@ViewBag.musicID'
    $.post('@Url.Action("GetLyricsForSong", "Game")', {
        songID:
            id
    },
    function (data) {
        for (var i = 0; i < parseInt(@ViewBag.MaxNumOfSegs); i++) {
            $(segtable).append("<tr id='a"+i+"'></tr>");
            for (var j = 0; j < parseInt(@ViewBag.SegCount); j++) {
                $("#segtable tr:last").append("<td style='white-space:nowrap;'></td>");
            }
        }
        var rowcount = 1;
        var colcount = 0;
        for (var key in data) {

            for (var k in data[key]) {                
       
                var row = $("#segtable tr:nth-child(" + (rowcount+1) + ")");

                var id = $(row).attr("id");

                $("#" + id + " td:nth-child(" + (colcount + 1) + ")").text(data[key][k]);
                $("#" + id + " td:nth-child(" + (colcount + 1) + ")").attr("id", "B"+k.toString())
                rowcount++;
            }
            colcount++;
            rowcount = 1;
        }
    });
</script>

<h1>Top #X Lyrics</h1> <!-- How many tops are we displaying do we count if lower etc-->
<div style="overflow: auto;">
    <script type="text/javascript">
        setNewSong('@Url.Content(@ViewBag.FilePath)');
    </script>
    <table style="font-size: 12px;" id="segtable">
        <tr id="segrow">
            @foreach (var item in Model)
            {
                <td class="segtime">
                    @Html.DisplayFor(itemModel => item.Start)
                </td>
            }
        </tr>
    </table>
</div>
