@model IEnumerable<LyricsGame.Models.LyricSegment>
<script type="text/javascript">
    var id = '@ViewBag.musicID'
    $.post('@Url.Action("ResultSongPossibleLyrics", "Game")', {
        songID:
            id
    },
    function (data) {
        $(segtable).append(data);
    });
</script>

<h1>Top #X Lyrics</h1> <!-- How many tops are we displaying do we count if lower etc-->
<div style="overflow: auto;">
    <script type="text/javascript">
        setNewSong('@Url.Content(@ViewBag.FilePath)');
    </script>
    <table style="font-size: 12px;" id="segtable">
        <tr id="segrow">
            @foreach (var item in Model)
            {
                <td class="segtime">
                    @Html.DisplayFor(itemModel => item.Start)
                </td>
            }
        </tr>
    </table>
</div>
